/* 公共css */
.common_body{
    background-color: #efefef;
}

/* header页面的css */
.header_nav{
    margin: 0 200px;
}

/* 首页的css */
.index_main{
    margin: 30px 200px;
    background-color: white;
}

.question_img{
    width: 40px;
    height: 40px;
}
.question_text{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}


/* publish页面的css */
.publish_body{
    background-color: #efefef;
}
.publish_main{
    margin: 30px 200px;
    background-color: white;
}
.publish_button_release{
    float: right;
    margin-bottom: 15px;
}

/* profile页面的样式 */
.list-group{
    margin-top: 20px;
}