<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>无尽深渊</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="/css/community.css" />
    <script src="/js/jquery-3.5.1.js" type="application/javascript"></script>
    <script src="/js/bootstrap.min.js" type="application/javascript"></script>
</head>
<body>

    <nav class="navbar-fixed-bottom footer_foot" th:fragment="foot">
        <p class="footer_p">
            Copyright © 2020
            &nbsp;·&nbsp;<a href="####">无尽深渊</a>
            &nbsp;·&nbsp;<a href="https://space.bilibili.com/40192691">友情链接</a>
            &nbsp;·&nbsp;本站服务器及带宽由 <a href="https://cn.aliyun.com/">阿里云</a>&nbsp;提供赞助
            &nbsp;·&nbsp;<a href="https://beian.miit.gov.cn/">鄂ICP备20002521号</a>
        </p>
    </nav>

</body>
</html>